.project
ejb-web/.settings/
ejb-ejb/target/
ejb-ear/.settings/
ejb-ejb/.settings/
ejb-web/.classpath
ejb-web/src/main/webapp/WEB-INF/beans.xml
ejb-web/src/main/webapp/WEB-INF/faces-config.xml
ejb-web/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
ejb-web/target/m2e-wtp/web-resources/META-INF/maven/com.stobinski.bottlecaps/ejb-web/pom.properties
.settings/
README.md
ejb-ejb/.classpath
ejb-ejb/src/main/resources/META-INF/beans.xml
ejb-ejb/src/main/resources/META-INF/persistence.xml
ejb-ejb/src/main/resources/import.sql
ejb-ejb/src/test/resources/test-ds.xml
ejb-ejb/src/test/resources/META-INF/test-persistence.xml
ejb-ear/target/m2e-wtp/ear-resources/META-INF/maven/com.stobinski.bottlecaps/ejb-ear/pom.xml
ejb-ear/target/m2e-wtp/ear-resources/META-INF/
ejb-ear/src/main/application/META-INF/ejb-ds.xml
ejb-web/target/m2e-wtp/web-resources/META-INF/maven/com.stobinski.bottlecaps/ejb-web/pom.xml
ejb-web/src/main/webapp/WEB-INF/web.xml
ejb-web/src/main/webapp/libraries/bootstrap/less/mixins/buttons.less
ejb-web/src/main/webapp/libraries/
ejb-web/src/main/webapp/resources/gfx/
external_jars/
ejb-web/target/classes/
