<div class="addfunc">
	<label ng-class="files.length === undefined || files.length === 0 ? 'enabled' : 'disabled'" class="btn btn-default btn-sm btn-file">
		Dodaj <input uploadfile="img" type="file" style="display: none;" accept="image/*" multiple>
	</label>
	<button ng-class="files.length === undefined || files.length === 0 ? 'disabled' : 'enabled'" ng-click="openModal('CLR')" type="button" class="btn btn-default btn-sm">Czysc</button>
	<button ng-class="files.length === undefined || files.length === 0 ? 'disabled' : 'enabled'" ng-click="openModal('UPL')" type="button" class="btn btn-default btn-sm">Zaladuj</button>
</div>
	
<div uib-alert ng-show="showAlert" class="alert-danger" close="closeAlert()">Musisz wybrac rodzaj kapsla!</div>	
	
<div class="addcap" ng-repeat="file in files">
	<img style="display: inherit !important;" ng-src="{{file.src}}" class="imgcap img-rounded"></img>
	<input ng-model="files[$index].captext" style="width: 100px !important; margin-left: 1px !important;" placeholder="Tekst" type="text" class="form-control">
	<input ng-model="files[$index].capbrand" style="width: 100px !important; margin-left: 1px !important;" placeholder="Marka" type="text" class="form-control">
	<select style="width: 100px !important; margin-left: 1px !important;" class="form-control" ng-model="selected[$index]" ng-options="item.key for item in beerOptions"></select>
</div>