<div class="addfunc">
	<label ng-class="files.length === undefined || files.length === 0 ? 'enabled' : 'disabled'" class="btn btn-default btn-sm btn-file">
		Dodaj <input uploadfile="img" type="file" style="display: none;" accept="image/*" multiple>
	</label>
	<button ng-class="files.length === undefined || files.length === 0 ? 'disabled' : 'enabled'" ng-click="openModalCancel()" type="button" class="btn btn-default btn-sm">Czyść</button>
	<button ng-class="files.length === undefined || files.length === 0 ? 'disabled' : 'enabled'" ng-click="openModalOk()" type="button" class="btn btn-default btn-sm">Załaduj</button>
</div>
	
<div uib-alert ng-show="showAlert" class="alert-danger" close="closeAlert()">Musisz wybrać rodzaj kapsla!</div>	
	
<div class="addcap" ng-repeat="file in files">
	<img ng-src="{{file.src}}" class="imgcap img-rounded"></img>
	<input ng-model="files[$index].captext" placeholder="Tekst" type="text" class="form-control">
	<input ng-model="files[$index].capbrand" placeholder="Marka" type="text" class="form-control">
	<select class="form-control" ng-model="selectedBeer[$index]" ng-options="item.key for item in beerOptions"></select>
	<select class="form-control" ng-options="c.name for c in countries" ng-model="selectedCountry[$index]"></select>
</div>