<ol class="breadcrumb">
  <li><a ui-sref="news">Dom</a></li>
  <li><a ui-sref="collect">Kolekcja</a></li>
  <li><a ui-sref="collect.country({country: country})">{{language.countryToPL(country)}}</a></li>
</ol>

<div class="capview">
	<button is-admin ng-click="openEditCap(country, id)" class="btn btn-default">Edytuj</button>
	<img class="img-rounded" ng-src="{{capsrc}}"></img>
	<button class="btn btn-default">Edytuj</button>
</div>

<div class="capinfo">
		<div><img class="flag" ng-src="{{flag}}"></img></div>
	
		<div class="label infc">Informacje o kapslu</div>
	
		<div class="label infl">Rodzaj</div>
		<div class="label infr">{{beerLabel}}</div>
		
		<div class="label infl">Tekst na kapslu</div>
		<div class="label infr">{{cap.cap_text}}</div>
		
		<div class="label infl">Marka</div>
		<div class="label infr">{{brand}}</div>
		
		<div class="label infl">Data dodania</div>
		<div class="label infr">{{cap.added_date | date: 'dd/MM/yyyy'}}</div>
</div>

<div ng-hide="caps === undefined || caps.length < 5" class="capmover md-hidden">
	<i ng-click="previousCap()" class="col-md-1 fa fa-chevron-left"></i>
	<img fade-in class="col-md-2" ng-click="openCap(country, fivecaps[0].entity.id)" ng-src="{{fivecaps[0].src}}"></img>
	<img fade-in class="col-md-2" ng-click="openCap(country, fivecaps[1].entity.id)" ng-src="{{fivecaps[1].src}}"></img>
	<img fade-in class="col-md-2" ng-click="openCap(country, fivecaps[2].entity.id)" ng-src="{{mainsrc}}"></img>
	<img fade-in class="col-md-2" ng-click="openCap(country, fivecaps[3].entity.id)" ng-src="{{fivecaps[3].src}}"></img>
	<img fade-in class="col-md-2" ng-click="openCap(country, fivecaps[4].entity.id)" ng-src="{{fivecaps[4].src}}"></img>
	<i ng-click="nextCap()" class="col-md-1 fa fa-chevron-right"></i>
</div>