<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="collect.country({country: country})">{{country}}</a>
			<img class="img-rounded" ng-src="{{flag}}"></img>
		</div>
		
		<form class="navbar-form navbar-right" role="search">
			<div>
				<input id="capsSearcher" class="form-control" ng-model="searchText"/>
				<button type="submit" class="btn btn-primary sm-btn" ng-click="getCaps(searchText, $scope.chosenKind)" ng-dblclick="return">Wyszukaj</button>
			</div>
		</form>
	
		<form class="bg-hidden navbar-left">
			<div>
				<ul class="nav navbar-nav">
	       			<li><a href="javascript:void(0)" ng-click="getCaps($scope.captext, kind.BEER)" ng-class="chosenKind === kind.BEER ? 'choscounttext' : 'counttext'">Piwne [{{countryInfo.beer}}]</a></li>
	       			<li><a href="javascript:void(0)" ng-click="getCaps($scope.captext, kind.NOBEER)" ng-class="chosenKind === kind.NOBEER ? 'choscounttext' : 'counttext'">Niepiwne [{{countryInfo.nobeer}}]</a></li>
	       			<li><a href="javascript:void(0)" ng-click="getCaps($scope.captext, kind.AMOUNT)" ng-class="chosenKind === kind.AMOUNT ? 'choscounttext' : 'counttext'">Suma [{{countryInfo.amount}}]</a></li>
	       		</ul>
			</div>
		</form>
		
	</div>
</nav>

<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
	<button ng-click="addCapRedirect(country)" type="button" class="btn btn-default btn-sm">Dodaj</button>
	<button ng-click="openModal()" ng-class="markedIds.length === undefined || markedIds.length === 0 ? 'disabled' : 'enabled'" type="button" class="btn btn-default btn-sm">Usuń</button>
</div>

<span style="width: 100px; display: inline-block; margin: 1px" ng-repeat="cap in caps">
	<img ng-src="{{cap.src}}" ng-click="openCap(country, caps[$index].entity.id)" class="imgcap img-rounded"></img>
	<mark-button ng-click="markCap(cap.id)"></mark-button>
</span>

<div ng-hide="pagination.totalItems < pagination.maxPerPage + 1">
	<ul uib-pagination ng-change="getCaps()" boundary-links="true" total-items="pagination.totalItems" items-per-page="pagination.maxPerPage"
	ng-model="pagination.currentPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>