<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="collect.country({country: country})">{{country}}</a>
			<img class="img-rounded" ng-src="{{flag}}"></img>
		</div>
					
		<form class="navbar-form navbar-right" role="select">
			<div>
				<label for="sortCaps">Sortuj:</label>
				<select class="form-control" id="sortCaps"
					ng-model="orderCaps"
					ng-options="option.value as option.name for option in orderCapsOptions track by option.value">
				</select>
			</div>
		</form>
		
		<form class="navbar-form navbar-right" role="search">
			<div>
				<input id="capsSearcher" class="form-control" ng-model="searchText"/>
				<button type="submit" class="btn btn-primary sm-btn" ng-click="filterCaps(searchText)">Wyszukaj</button>
			</div>
		</form>
	
		<form class="bg-hidden navbar-left">
			<div>
				<ul class="nav navbar-nav">
	       			<li><a href="#" class="counttext">Piwne [0]</a></li>
	       			<li><a href="#" class="counttext">Niepiwne [0]</a></li>
	       		</ul>
			</div>
		</form>
		
	</div>
</nav>

<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
	<button ng-click="addCapRedirect(country)" type="button" class="btn btn-default btn-sm">Dodaj</button>
	<button ng-click="open()" ng-class="markedIds.length === undefined || markedIds.length === 0 ? 'disabled' : 'enabled'" type="button" class="btn btn-default btn-sm">Usun</button>
</div>

<span style="width: 100px; display: inline-block; margin: 1px" ng-repeat="cap in caps">
	<img ng-src="{{cap.src}}" ng-click="openCap(country, caps[$index].id)" class="imgcap img-rounded"></img>
	<mark-button ng-click="markCap(cap.id)"></mark-button>
</span>