<uib-accordion class="md-shown">
	<div uib-accordion-group heading="Lista państw">
		<table id="countrytb" class="seccollect">
			<tr ng-repeat="country in countries | orderBy: 'namepl'" ng-click="redirectToCountry(country.nameen)">
				<td><img class="flag" ng-src="{{country.flag}}"></img></td><td>{{country.namepl}}</td><td>[{{country.amount}}]</td>
			</tr>
		</table>
	</div>
</uib-accordion>


<table id="countrytb" class="seccollect md-hidden">
	<tr ng-repeat="country in countries | orderBy:'namepl'" ng-click="redirectToCountry(country.nameen)">
		<td><img class="flag" ng-src="{{country.flag}}"></img></td><td>{{country.namepl}}</td><td>[{{country.amount}}]</td>
	</tr>
</table>