.tdflag {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.flag {
	height: 24px;
}

.countrytrodd {
	background-color: white;
	cursor: pointer;
}

.countrytrodd:hover {
	background-color: khaki;
	transition: background 1.5s ease;
}

.countrytreven {
	background-color: whitesmoke;
	cursor: pointer;
}

.countrytreven:hover {
	background-color: khaki;
	transition: background 1.5s ease;
}