<div ng-controller="collectCtrl" class="row">
	<div class="col-md-3" ng-include src="'/ejb-web/views/list.country.html'"></div>
	<div class="col-md-9" ng-controller="capCtrl" style="text-align: center">
		<ol class="breadcrumb" style="margin-bottom: 5px; text-align: left">
		  <li><a href="#" ng-click="redirectMain()">Dom</a></li>
		  <li><a href="#" ng-click="redirectCollect()">Kolekcja</a></li>
		  <li><a href="#" ng-click="redirectToCountry(country)">{{country}}</a></li>
		</ol>

		<span style="display: inline-flex; height: 50%;">
			<div class="col-md-5" style="display: flex;">
				<img class="img-rounded" style="margin-left: auto; margin-right: auto; align-self: center;" ng-src="{{capsrc}}"></img>
			</div>

			<div class="col-md-7" style="display: flex; justify-content: center;">
				<div style="align-self: center;">
					<div style="display: block !important; width: 100%; margin-bottom: 5px;">
						<img class="flag" ng-src="{{flag}}"></img>
					</div>
				
					<div style="display: block !important; width: 100%; font-size: 150% !important; margin-bottom: 5px;" class="label label-default">Informacje o kapslu</div>
				
					<div style="display: block !important; width: 34%; float: left; font-size: 100% !important; margin-bottom: 3px; margin-right: 1px" class="label label-default">Rodzaj</div>
					<div style="display: block !important; width: 64%; float: right; font-size: 100% !important; margin-bottom: 3px; margin-left: 1px" class="label label-info">{{beerLabel}}</div>
					
					<div style="display: block !important; width: 34%; float: left; font-size: 100% !important; margin-bottom: 3px; margin-right: 1px" class="label label-default">Tekst na kapslu</div>
					<div style="display: block !important; width: 64%; float: right; font-size: 100% !important; margin-bottom: 3px; margin-left: 1px" class="label label-info">{{cap.cap_text}}</div>
					
					<div style="display: block !important; width: 34%; float: left; font-size: 100% !important; margin-bottom: 3px; margin-right: 1px" class="label label-default">Marka</div>
					<div style="display: block !important; width: 64%; float: right; font-size: 100% !important; margin-bottom: 3px; margin-left: 1px" class="label label-info">{{brand}}</div>
					
					<div style="display: block !important; width: 34%; float: left; font-size: 100% !important; margin-bottom: 3px; margin-right: 1px" class="label label-default">Data dodania</div>
					<div style="display: block !important; width: 64%; float: right; font-size: 100% !important; margin-bottom: 3px; margin-left: 1px" class="label label-info">{{cap.added_date | date: 'dd/MM/yyyy'}}</div>
				</div>
			</div>
		</span>
		
		<div class="col-md-12" style="height: 122px; margin-top: 15px;">
			<i ng-click="previousCap()" class="col-md-1 fa fa-chevron-left" style="margin-top: 54px" aria-hidden="true"></i>
			<img class="col-md-2 capback" ng-src="{{fivecaps[0].src}}"></img>
			<img class="col-md-2 capback" ng-src="{{fivecaps[1].src}}"></img>
			<img class="col-md-2" ng-src="{{fivecaps[2].src}}"></img>
			<img class="col-md-2 capback" ng-src="{{fivecaps[3].src}}"></img>
			<img class="col-md-2 capback" ng-src="{{fivecaps[4].src}}"></img>
			<i class="col-md-1 fa fa-chevron-right" style="margin-top: 54px" aria-hidden="true"></i>
		</div>
		
	</div>
</div>