<div ng-controller="newsCtrl" class="full">
	<button type="button" class="btn btn-default" ng-click="redirect()">Admin</button>
	<div ng-repeat="news in newsarr" class="news newsfont">
		<span class="newstitle">{{news.title}}</span>
		<span class="newsdate">{{news.date | date:"dd MMM yy"}}</span>
		<div class="newscontent">{{checkLength(news.content).shortContent}}</div>
		<button ng-if="checkLength(news.content).expand" ng-click="openNews(news.id)" type="button" class="btn btn-default">Czytaj dalej...</button>
	</div>
	<ul class="pagination"><li ng-click="previousPage($index + 1)"><a href="#">&laquo;</a></li></ul>
	<ul class="pagination" ng-repeat="count in newscount track by $index">   
	   <li ng-click="pageReload($index + 1)"
	   ><a href="#" ng-class="{'newspage' : currentpage == $index + 1}">{{$index + 1}}</a></li>
	</ul>
	<ul class="pagination"><li ng-click="nextPage($index + 1)"><a href = "#">&raquo;</a></li></ul>
</div>	