.about {
	height: inherit;
}

.about div:first-child {
	height: inherit;
	overflow: auto;
}

.about div:last-child {
	text-align: center;
	height: inherit;
}

.about p {
	text-align: justify;
	text-indent: 6px;
}

.about div > img {
	padding: 5px 0;
	height: inherit;
	margin: 0 0;
}

.secabout {
	width: 100%;
	text-align: center;
}

.secabout * table {
	margin: 10px auto;
	width: 100%;
}

.secabout table {
	margin: 10px auto;
	width: 100%;
}

.secabout * tr td {
	padding: 4px 2px;
}

.secabout * td:nth-child(1) {
	width: 10%;
}

.secabout * td:nth-child(2) {
	width: 50%;
}

.secabout * td:nth-child(3) {
	width: 20%;
}

.secabout * td:nth-child(4) {
	width: 20%;
}

.secabout * tr:nth-child(odd) {
	background-color: #D8D8D8;
}

.secabout * tr:hover {
	background-color: khaki;
	transition: background 1.5s ease;
}