.seccollect {
	overflow: auto;
	background-color: #E0E0E0;
}

/* collect.html & countries.html */
.seccollect uib-accordion div {
	margin: 10px auto;
	width: 100%;
}

.seccollect * table {
	margin: 10px auto;
	width: 100%;
}

.seccollect table {
	margin: 10px auto;
	width: 100%;
}

.seccollect * tr td {
	padding: 4px 2px;
}

.seccollect * tr:nth-child(even) {
	cursor: pointer;
}

.seccollect * tr:nth-child(odd) {
	cursor: pointer;
	background-color: #D8D8D8;
}

.seccollect * tr:hover {
	background-color: khaki;
	transition: background 1.5s ease;
}

.sidebar .navbar {
	margin-top: 8px;
	margin-bottom: 4px;
}

div.container-fluid {
	text-align: center;
}

div.container-fluid div.navbar-header {
	width: 100%;
}

div.container-fluid div.navbar-header a.navbar-brand {
	float: none !important;
}

.addfunc {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 4px;		
}

.addfunc > * {
	width: 32%;
}

/* cap.html */
.sclaret ol {
	margin-top: 8px;
	text-align: left;
}

.capview {
	text-align: center;
	margin-bottom: 5px;
}

.capview button:nth-child(1) {
	float: left;
}

.capview button:nth-child(2) {
	float: left;
	margin-left: 2px;
}

.capview button:nth-child(3) {
	float: right;
	margin-right: 2px;
	background-color: transparent !important;
	color: transparent !important;
	border-color: transparent !important;
}

.capview button:nth-child(4) {
	float: right;
	background-color: transparent !important;
	color: transparent !important;
	border-color: transparent !important;
}

.capinfo {
	display: table;
	width: 100%;
	text-align: center;
	margin-bottom: 8px;
}

.capinfo * {
	margin-bottom: 5px;
}

.capinfo:nth-child(1) {
	text-align: center;
}

.capinfo:nth-child(2) {
	display: block;
	font-size: 1.5em;
}

.infc {
	display: block !important;
	width: 100%;
	font-size: 1.5em !important;
	background-color: #6F6F6F;
}

.infl {
	width: 34%;
	float: left;
	font-size: 1em !important;
	margin-bottom: 3px;
	background-color: #6F6F6F;
	color: white !important;
}

.infr {
	width: 64%;
	float: right;
	font-size: 1em !important;
	margin-bottom: 3px;
}

div.infr {
	background-color: #DEDEDE;
	color: #464646 !important;
}

input.infr {
	line-height: 1;
	text-align: center;
	border-radius: 4px;
}

select.infr {
	padding-left: 15px;
	border-radius: 2px;
	text-align-last: center;
}

.capmover {
	display: flex;
	align-items: center;
	padding: 5px 0;
	border-radius: 5px;
	background-color: #EAEAEA;
	margin-top: 25px;
	margin-bottom: 8px;
}

.counttext {
	font-size: 85%;
}

.choscounttext {
	font-size: 85%;
	font-weight: bold;
}

.addcap img {
	display: inherit !important;
}

.addcap input {
	width: 100px !important;
	margin-left: 1px !important;
}

.addcap select {
	width: 100px !important;
	margin-left: 1px !important;	
}