<button class="btn btn-default" ng-click="go('.add')">Dodaj</button>
<h1 class="stitle">Najnowsze wiadomosci</h1>

<article ng-init="initExpand($index)" ng-repeat="news in newsarr" class="news">
	<h3>{{news.title}}</h3>
	<button class="btn btn-default control" ng-click="openModal(news.id)">Usun</button>
	<button class="btn btn-default control" ng-click="redirectToEditNews(news.id)">Edytuj</button>
	<span>{{news.date | date:"dd MMM yy"}}</span>
	<p ng-if="isExpanded($index)">{{news.doubleContent.fullContent}}</p>
	<p ng-if="!isExpanded($index)">{{news.doubleContent.shortContent}}</p>
	<button ng-if="news.doubleContent.wordy && !isExpanded($index)" ng-click="toggleExpand($index)" type="button" class="btn btn-default">Rozwin...</button>
	<button ng-if="news.doubleContent.wordy && isExpanded($index)" ng-click="toggleExpand($index)" type="button" class="btn btn-default">Zwin...</button>
</article>

<div>
	<ul uib-pagination ng-change="reload()" boundary-links="true" total-items="pagination.totalItems"
	ng-model="pagination.currentPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>