@CHARSET "UTF-8";

.logo {
	background: url('../../resources/gfx/nukacola.png');
	display: inline-block;
	width: 200px;
	height: 150px;
}

.navi {
	background-color: #442C2A;
	overflow: auto;
}

.navi {
	overflow: auto;
	
	border-top: 1px solid #5A3D3D;
	border-bottom: 1px solid #5A3D3D;
	outline: 2px solid black;
	box-shadow: inset 0px 0px 20px #2B2121;
}

.navi div div {
	font-size: 1.3em;
	text-align: center;
	color: snow;
}

.navi div div:hover {
	background-color: #E6E6E6;
	
	font-size: 1.3em;
	text-align: center;
	
	box-shadow: inset 0px 0px 15px #AFAFAF;
	
	transition: background 0.3s ease;
}

div.container {
	overflow: auto; 
	
	max-width: 1170px;
	
	margin-left: auto;
	margin-right: auto;
}

.logging {
	margin: 7px 0;
}

div.logging {
	color: white;
}

div.logging a {
	color: snow;
}

.logging div.alert-danger {
	margin-top: 7px;
	margin-bottom: 7px;
	padding: 4px 35px;
}

.navi div div a {
	display: block;
	height: inherit;
	width: 100%;
	
	padding: 8px 0;
	color: snow;
}

.navi div div a:hover {
	color: black;
	transition: background 0.3s ease;
}