@media (max-width: 992px) {
	.md-hidden {
		display: none;
	}
}

@media (max-width: 1200px) {
	.bg-hidden {
		display: none;
	}
}

@media (min-width: 992px) {
	.md-shown {
		display: none;
	}
}

@media (max-width: 768px) {
	.sm-btn {
		margin-top: 6px;
	}
}