@media (max-width: 580px) {
	.sm-hidden {
		display: none !important;
	}
	
	.sm-trade {
		text-align: center;
	}
	
	.sm-trade trade-img {
		float: none !important;
		display: initial !important;
	}
}

@media (max-width: 992px) {
	.md-hidden {
		display: none !important;
	}
	
	.logging {
		text-align: center;
	}
}

@media (max-width: 1200px) {
	.bg-hidden {
		display: none !important;
	}
}

@media (min-width: 992px) {
	.md-shown {
		display: none !important;
	}

	.logging {
		float: right;
	}
}

@media (max-width: 768px) {
	.sm-btn {
		margin-top: 6px !important;
	}
}