<h5 class="stitle">Najnowsze kapsle</h5>

<img ng-repeat="cap in caps" ng-src="{{cap.src}}" ng-click="openCap($index)" class="img-rounded" uib-tooltip="{{data[$index].entity.cap_text}}"></img>

<hr>

<h5 class="stitle">Top panstw</h5>

<div class="sidechart">
	<canvas id="base" class="chart-horizontal-bar" chart-options="top.options" chart-data="top.chartData" chart-labels="top.labels"></canvas>
</div>

<hr>

<h5 class="stitle">Postep w zbieraniu</h5>

<div class="sidechart">
	<canvas id="line" class="chart chart-line" chart-data="progress.chartData" chart-labels="progress.labels"></canvas>
</div>